<%= form_for(@show_review) do |f| %>
  <% if @show_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@show_review.errors.count, "error") %> prohibited this show_review from being saved:</h2>

      <ul>
      <% @show_review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @show %>

    <div class="card form-header">
    
      <div class="image-container">
        
        <%= image_tag @show.image.url(:medium), class: "small-index-image"%>

      </div>

      <div class="detail-container">
        
        <p class="title"><%= @show.name %></p>

        <p><%= @show.venue_name %></p>

      </div>

    </div>

    <%= f.hidden_field :show_id, value: @show.id %>

    <br>

  <%end%>

<!--     <div class="field">
      <%# f.label :show_occurence_id %>
      <%# f.number_field :show_occurence_id %>
    </div> -->

    <div class="field">
      <label>Your Review</label><br>
      <%= f.text_area :body, required: true %>
    </div>

    <div class="field">

      <%= f.label :rating %><br>

      <select id="rating_string" name="rating_string" class="wide" required>
        <option value="" disabled selected>Select a Rating</option>
        <option value="5.0">5 - Hilarious!</option>
        <option value="4.0">4 - Good</option>
        <option value="3.0">3 - Average</option>
        <option value="2.0">2 - Needs Improvement</option>
        <option value="1.0">1 - Waste of Time</option>

      </select>

      <%= f.hidden_field :rating, id:'rating_number'%>

    </div>
<!-- 
    <div class="field">
      <%# f.label :author_id %><br>
      <%# f.number_field :author_id %>
    </div> -->

    <div class="actions">
      <input type="submit" class="button green-background" value="Post Review">
    </div>

<% end %>
