<p id="notice"><%= notice %></p>

<p>
  <strong>Show:</strong>
  <%= @show_review.show_id %>
</p>

<p>
  <strong>Show occurence:</strong>
  <%= @show_review.show_occurence_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @show_review.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @show_review.body %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @show_review.rating %>
</p>

<p>
  <strong>Author:</strong>
  <%= @show_review.author_id %>
</p>

<%= link_to 'Edit', edit_show_review_path(@show_review) %> |
<%= link_to 'Back', show_reviews_path %>
