
<p id="notice"><%= notice %></p>

<h1>Listing Show Tags</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Parent Tag</th>
      <th>Front Page</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% ShowTag.each do |show_tag| %>
      <tr>
        <td><%= show_tag.name %></td>
        <td><%= show_tag.parent_tag_id %></td>
        <td><%= show_tag.front_page %></td>
        <td><%= link_to 'Destroy', show_tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


