<% if @location_prompt %>

	<div class="dashboard-header-message yellow-background">
		<div class="message-content">
			<%= @location_prompt.message %> <span class="mobile-only"><br></span><%= link_to @location_prompt.cta_text, @location_prompt.cta_link, class:"button red-background", style:"margin-left: 10px;", target: :_blank %>
		</div>
	</div>

	<div class="dashboard-header-message-offset">

	</div>

<%end%>

<div class="dashboard-header">
		
	<div class="dashboard-header-content">

		<div class="dashboard-header-top">
		
			<h1><%= location %> <%= category %> Comedy Shows</h1> 

			<p class="change-location-cta"><a class="modal-cta" data-modal-id="select-city">Change Location</a></p>

			<a class="dashboard-header-cta blue-background" <% if user_signed_in? %>href="<%= new_show_path %>"<%else%>href="<%= signup_path %>"<%end%>>+ <span class="full-cta">Add a Show</span></a>

		</div>
		
	</div>

</div>

<div class="dashboard-header-offset">

</div>