

<% if location.blank?  %>
		
	<%= render 'pages/home_location_cta' %>

<%else%>
	
	<%= render :partial => 'pages/dashboard_header', :locals => {:location => location} %>
	
	<div class="dashboard">

		<%= render :partial => 'pages/mobile_front_page_tags', :locals => {:location => location} %>

		<div class="row">

			<div class="hidden-xs col-sm-4 col-md-3">

				<div class="sidebar sticky">

					<div class="sidebar-content">

						<%= render :partial => 'pages/front_page_tags', :locals => {:location => location} %>

						<% unless user_signed_in? %>
							
							<br>

							<%= render :partial => 'pages/home_signup_cta', :locals => {:mobile_only => false} %>

						<%end%>

					</div>

				</div>

			</div>

			<div class="col-xs-12 col-sm-8 col-md-9">

<!-- 				<section class="home-index">
					
					<div class="row">

						<div class="card">

							<div class="col-xs-12">

								Featured
					  			
					  			<%# render :partial => 'shows/index_show', :locals => {:show_occurrence => ShowOccurrence.last, :show =>  Show.find(ShowOccurrence.last.schedulable_id)} %>

					  		</div>

				  		</div>

					</div>

				</section> -->

				<section class="home-index">

					<header class="home-section-header">Tonight (<%= Time.current.strftime("%A, %b %e") %>)</header>
					
					<div class="row">
						
						<% ShowOccurrence.nearby_show_occurrences(latitude, longitude, Time.current.beginning_of_day + 6.hours, Time.current.end_of_day + 6.hours).each do |show_occurrence| %>

							<div class="col-xs-12">
					  			
					  			<%= render :partial => 'shows/index_show', :locals => {:show_occurrence => show_occurrence, :show =>  Show.find(show_occurrence.schedulable_id)} %>

					  		</div>

						<%end%>


						<div class="col-xs-12">
							
							<%= link_to root_path do %>

								<div class="card see-more">
									See 2 More Shows
									<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
								</div>
							
							<%end%>

				        </div>

					</div>

				</section>

				<% unless user_signed_in? %>

					<%= render :partial => 'pages/home_signup_cta', :locals => {:mobile_only => true} %>

				<%end%>

				<% (Date.tomorrow..Date.tomorrow + 7).each do |date| %>

					<section class="home-index">

						<header class="home-section-header"><%= date.strftime("%A, %b %e")%></header>
						
						<div class="row">
							
							<% ShowOccurrence.nearby_show_occurrences(latitude, longitude, date.beginning_of_day + 6.hours, date.end_of_day + 6.hours).each do |show_occurrence| %>

								<div class="col-xs-12">
						  			
						  			<%= render :partial => 'shows/index_show', :locals => {:show_occurrence => show_occurrence, :show =>  Show.find(show_occurrence.schedulable_id)} %>

						  		</div>

							<%end%>

							<div class="col-xs-12">
								
								<%= link_to root_path do %>
									<div class="card see-more">
										See 6 More Shows
										<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
									</div>
								<%end%>

				        	</div>

						</div>

					</section>

				<% end %>

			</div>

		</div>

	</div>

<%end%>

<% if user_signed_in? %>

	<%= render :partial => 'layouts/corner_add_cta', :locals => {:target_url => new_show_path, :cta_text => "+ Add a Show"} %>

<%else%>
	
	<%= render :partial => 'layouts/corner_add_cta', :locals => {:target_url => signup_path, :cta_text => "+ Add a Show"} %>

<%end%>
