<% unless user_signed_in?%>

<section class="home-form">
	
	<span class="dismiss-parent">X</span>

	<div class="section-overlay">
	
		<div class="section-content centered">

			<header>Find Comedy Tonight</header>

				<br><br>

			<a class="button medium orange-background">Get Started</a>

		</div>

	</div>

</section>

<section class="home-index">

	<header class="home-section-header">Zilla <%= @market["name"] %></header>

	<ul class="horizontal centered">

		<% Market.all.each do |market| %>
			<li><a href="<%= update_market_path %>" method="POST"><%= market.name %></a></li>
		<%end%>

	</ul>

</section>

<section class="home-index">

	<header class="home-section-header">Top Picks for Tonight in <%= @market["name"] %></header>

	<% Show.all.take(3).each do |show| %>

  		<%= render :partial => 'shows/index_show', :locals => {:show =>  show} %>

	<% end %>

</section>

<section class="home-index">

	<header class="home-section-header">Recommended for the Weekend in <%= @market["name"] %></header>

	<% Show.all.take(3).each do |show| %>

  		<%= render :partial => 'shows/index_show', :locals => {:show =>  show} %>

	<% end %>

</section>

<section class="home-index">

	<header class="home-section-header">Hot & New Shows in <%= @market["name"] %></header>

	<% Show.all.take(3).each do |show| %>

  		<%= render :partial => 'shows/index_show', :locals => {:show =>  show} %>

	<% end %>

</section>

<section class="home-index">

	<header class="home-section-header">Staff Picks for <%= @market["name"] %></header>

	<% Show.all.take(3).each do |show| %>

  		<%= render :partial => 'shows/index_show', :locals => {:show =>  show} %>

	<% end %>

</section>


<%else%>

	<%= render 'users/dashboard' %>

<%end%>