<%# render 'home_sub_header' %>


<%= render 'modals/mobile_search_filter' %>


<div class="dashboard">

	<% unless user_signed_in?%>
		
		<div class="home-hero">

			<!-- <span class="glyphicon glyphicon-remove dismiss-parent" aria-hidden="true"></span> -->

			<div class="home-hero-content centered">

				<% if @city %>
				
					<h1>Find the Best <%= @city %> Comedy Shows</h1>

					<br><br>

					<%= link_to "Signup to Get Started", root_path, class:"button medium blue-background button"%>

				<%else%>

					<h1>Find the Best Comedy Shows</h1>

					<br><br>

					<input class="geocomplete-input" type="text"></input>

					<form class="form-inline">
					  <div class="form-group">
					    <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
					    <div class="input-group">
					      <input type="text" class="form-control geocomplete-input" id="exampleInputAmount" placeholder="Enter City, Neighborhood, or Address">
					    </div>
					  </div>
					  <button type="submit" class="btn btn-primary">Search</button>
					</form>

				<%end%>

			</div>

		</div>

	<%end%>



	<% if @city %>

		<div class="row">

			<div class="col-xs-12 col-sm-12">

				<section class="home-index">

					<header class="home-section-header">All Comedy Shows Tonight in <%= session[:city] %></header>
					
					<div class="row">
						
						<% Show.all.take(4).each do |show| %>

							<div class="col-xs-12 col-sm-6 col-md-3">
					  			
					  			<%= render :partial => 'shows/index_show', :locals => {:show =>  show} %>

					  		</div>

						<% end %>

					</div>

				</section>

				<%(Date.tomorrow..Date.tomorrow + 7).each do |date| %>

					<section class="home-index">

						<header class="home-section-header"><%= date.strftime("%a %b %e")%></header>

						<% Show.all.take(9).each do |show| %>

					  		<%= render :partial => 'shows/index_show', :locals => {:show =>  show} %>

						<% end %>

					</section>


				<% end %>

			</div>

		</div>


	<%else%>
		
		<section>

			<h2 class="centered">Where are You?</h2>
		
			<div class="row padded-cols">

				<div class="col-xs-6 col-sm-3">
					<div class="card centered">
						NYC
					</div>
				</div>

				<div class="col-xs-6 col-sm-3">
					<div class="card centered">
						LAX
					</div>
				</div>

				<div class="col-xs-6 col-sm-3">
					<div class="card centered">
						SF
					</div>
				</div>

				<div class="col-xs-6 col-sm-3">
					<div class="card centered">
						Montreal
					</div>
				</div>

			</div>

		</section>

	<%end%>

</div>


	<%# render 'users/dashboard' %>
