<%= render 'home_sub_header' %>

<div class="subheader-offset">

	<% unless user_signed_in?%>

	<!-- <section class="home-form">
		
		<span class="dismiss-parent">X</span>

		<div class="section-overlay">
		
			<div class="section-content centered">

				<header>Discover the Best Comedy in Your City</header>

					<br><br>

				<a class="button medium blue-background">Get Started</a>

			</div>

		</div>

	</section> -->

	<!-- <section class="home-index centered">

		<header class="main-header" style="display: inline-block;">Zilla <%# @market["name"] %></header><br><span class="blue-text modal-cta" data-modal-id="select-city" style="display: inline-block;">Not in <%# @market["name"] %>? Change City</span>


	</section> -->

	<div class="row">
	  
		<div class="col-xs-0 col-md-3">

			City<br>
			Category<br>
			Time/Date
		</div>

		<div class="col-xs-12 col-md-9">

			<section class="home-index">

				<header class="home-section-header">Tonight in <%= @market["name"] %></header>

				<% Show.all.take(9).each do |show| %>

			  		<%= render :partial => 'shows/index_show', :locals => {:show =>  show} %>

				<% end %>

				<%= link_to root_path do %>

					<div class="card flat">
						See More Comedy Shows Tonight <span style="float: right;" class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
					</div>

				<%end%>

			</section>

		</div>

	</div>


	<%else%>

		<%= render 'users/dashboard' %>

	<%end%>

</div>