


<% if session[:city].blank? %>
		
	<%= render 'pages/home_location_cta' %>

<%else%>

	<div class="dashboard">

		<div class="row">

			<div class="col-xs-12 col-sm-12">

				<section class="home-index">

					<header class="home-section-header">Tonight</header>
					
					<div class="row">
						
						<% Show.all.take(12).each do |show| %>

							<div class="col-xs-12 col-sm-4 col-md-3">
					  			
					  			<%= render :partial => 'shows/index_show', :locals => {:show =>  show} %>

					  		</div>

						<% end %>

					</div>

				</section>

				<% unless user_signed_in? %>
					
					<%= render 'pages/home_signup_cta' %>

				<%end%>

				<%(Date.tomorrow..Date.tomorrow + 7).each do |date| %>

					<section class="home-index">

						<header class="home-section-header"><%= date.strftime("%a %b %e")%></header>
						
						<div class="row">
							
							<% Show.all.take(9).each do |show| %>
								<div class="col-xs-12 col-sm-4 col-md-3">
						  		<%= render :partial => 'shows/index_show', :locals => {:show =>  show} %>
						  		</div>

							<% end %>

						</div>

					</section>


				<% end %>

			</div>

		</div>

	</div>

<%end%>
