<%# render 'home_sub_header' %>


<%= render 'modals/mobile_search_filter' %>


<% unless user_signed_in?%>

<div class="dashboard">

	<div class="row">
	  
		<div class="col-xs-0 col-md-4 full-screen-only">
			<div class="card">
				City<br>
				Category<br>
				Time/Date
			</div>
		</div>

		<div class="col-xs-12 col-md-8">

			<section class="home-index">

				<header class="home-section-header">All Comedy Shows Tonight in <%= session[:city] %></header>

				<% Show.all.take(9).each do |show| %>

			  		<%= render :partial => 'shows/index_show', :locals => {:show =>  show} %>

				<% end %>

			</section>

			<%(Date.tomorrow..Date.tomorrow + 7).each do |date| %>

				<section class="home-index">

					<header class="home-section-header"><%= date.strftime("%a %b %e")%></header>

					<% Show.all.take(9).each do |show| %>

				  		<%= render :partial => 'shows/index_show', :locals => {:show =>  show} %>

					<% end %>

				</section>


			<% end %>

		</div>

	</div>

</div>


<%else%>

	<%= render 'users/dashboard' %>

<%end%>
