<% unless user_signed_in?%>

<section class="home-form">
	
	<span class="dismiss-parent">X</span>

	<div class="section-overlay">
	
		<div class="section-content centered">

			<header>Discover the Best Comedy in Your City</header>

				<br><br>

			<a class="button medium blue-background">Get Started</a>

		</div>

	</div>

</section>

<section class="home-index centered" style="border-bottom: 2px solid rgba(0,0,0,0.5);">

	<header class="home-section-header" style="display: inline-block;">Zilla <%= @market["name"] %></header><span class="blue-text modal-cta" data-modal-id="select-city" style="display: inline-block;">Change City</span>


</section>

<section class="home-index">

	<header class="home-section-header">Top Picks for Tonight in <%= @market["name"] %></header>

	<% Show.all.take(3).each do |show| %>

  		<%= render :partial => 'shows/index_show', :locals => {:show =>  show} %>

	<% end %>

</section>

<section class="home-index">

	<header class="home-section-header">Recommended for the Weekend in <%= @market["name"] %></header>

	<% Show.all.take(3).each do |show| %>

  		<%= render :partial => 'shows/index_show', :locals => {:show =>  show} %>

	<% end %>

</section>

<section class="home-index">

	<header class="home-section-header">Hot & New Shows in <%= @market["name"] %></header>

	<% Show.all.take(3).each do |show| %>

  		<%= render :partial => 'shows/index_show', :locals => {:show =>  show} %>

	<% end %>

</section>

<section class="home-index">

	<header class="home-section-header">Staff Picks for <%= @market["name"] %></header>

	<% Show.all.take(3).each do |show| %>

  		<%= render :partial => 'shows/index_show', :locals => {:show =>  show} %>

	<% end %>

</section>


<%else%>

	<%= render 'users/dashboard' %>

<%end%>