<% unless user_signed_in?%>

<section class="home-form">

	<div class="section-overlay">
	
		<div class="section-content centered">

			<h2>Find Comedy Tonight</h2>

			<br><br>

			<a class="button medium orange-background">Get Started</a>

		</div>

	</div>

</section>

<section class="home-index">

	<div class="content">

		<header class="home-section-header">Recommended for Tonight</header>

		<% Show.all.take(3).each do |show| %>

      		<%= render :partial => 'shows/index_show', :locals => {:show =>  show} %>

    	<% end %>

    </div>

</section>

<section class="home-index">

	<div class="content">

		<header class="home-section-header">Staff Picks</header>

		<% Show.all.take(3).each do |show| %>

      		<%= render :partial => 'shows/index_show', :locals => {:show =>  show} %>

    	<% end %>

    </div>

</section>

<section class="home-index">

	<div class="content">

		<header class="home-section-header">Best Comedy Shows this Weekend</header>

		<% Show.all.last(3).each do |show| %>

      		<%= render :partial => 'shows/index_show', :locals => {:show =>  show} %>

    	<% end %>

    </div>

</section>

<section class="home-index">

	<div class="content">

		<header class="home-section-header">New Shows</header>

		<% Show.all.first(3).each do |show| %>

      		<%= render :partial => 'shows/index_show', :locals => {:show =>  show} %>

    	<% end %>

    </div>

</section>

<section class="home-index">

	<div class="content">

		<header class="home-section-header">Recommended for Tonight</header>

		<% Show.all.take(3).each do |show| %>

      		<%= render :partial => 'shows/index_show', :locals => {:show =>  show} %>

    	<% end %>

    </div>

</section>


<%else%>

	<%= render 'users/dashboard' %>

<%end%>