<%= form_for(@venue) do |f| %>
  <% if @venue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

      <ul>
      <% @venue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <br>

  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :url_slug %><br>
    <%= f.text_field :url_slug %>
  </div>

  <br>

  <div class="field">
    <label>Venue Description</label><br>
    <%= f.text_area :about %>
  </div>

  <br>

  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <br>

  <div class="field">
    <%= f.label :website_url %><br>
    <%= f.text_field :website_url %>
  </div>

  <br>

  <div class="field">
    <%= f.label :twitter_url %><br>
    <%= f.text_field :twitter_url %>
  </div>

  <br>

  <div class="field">
    <%= f.label :facebook_url %><br>
    <%= f.text_field :facebook_url %>
  </div>

  <br>

  <div class="field">
    <%= f.label :instagram_url %><br>
    <%= f.text_field :instagram_url %>
  </div>

  <br>

  <div class="field">
    <%= f.label :snapchat_url %><br>
    <%= f.text_field :snapchat_url %>
  </div>

  <br>

  <div class="field">
    <%= f.label :youtube_url %><br>
    <%= f.text_field :youtube_url %>
  </div>

  <br>
  


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
