<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @venue.city_id %>
</p>

<p>
  <strong>Address line 1:</strong>
  <%= @venue.address_line_1 %>
</p>

<p>
  <strong>Address line 2:</strong>
  <%= @venue.address_line_2 %>
</p>

<p>
  <strong>Name:</strong>
  <%= @venue.name %>
</p>

<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>
