<div class="form-container">

  <%= form_for(@performer) do |f| %>
    <% if @performer.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@performer.errors.count, "error") %> prohibited this performer from being saved:</h2>

        <ul>
        <% @performer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <h2 class="form-section-header">Basic Information</h2>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <label>About You</label><br>
      <%= f.text_area :bio %>
    </div>

    <div class="field">

      <label>Profile Image</label>

      <div class="image-field-container">
        
        <h3>Click to Add Profile Image</h3>

        <%= f.file_field :image, class: "form-control" %>

      </div>

    </div>

    <div class="field">
      <%= f.label :city %><br>
      <%= f.text_field :city %>
    </div>

    <div class="field">
      <%= f.label :country %><br>
      <%= f.text_field :country %>
    </div>

    <div class="field">
      <%= f.label :website_url %><br>
      <%= f.text_field :website_url %>
    </div>

    <h2 class="form-section-header">Social Media</h2>

    <div class="field">
      <%= f.label :twitter_url %><br>
      <%= f.text_field :twitter_url %>
    </div>
    <div class="field">
      <%= f.label :facebook_url %><br>
      <%= f.text_field :facebook_url %>
    </div>
    <div class="field">
      <%= f.label :instagram_url %><br>
      <%= f.text_field :instagram_url %>
    </div>
    <div class="field">
      <label>YouTube Channel URL</label><br>
      <%= f.text_field :youtube_url %>
    </div>

    <div class="field">
      <%= f.label :video_url %><br>
      <%= f.text_field :video_url %>
    </div>

   

    <br>

    <div class="field">
      <%= f.label :snapchat_url %><br>
      <%= f.text_field :snapchat_url %>
    </div>

    <br>

    <br>

    <div class="actions">
      <input type="submit" class="button green-background" value="Update Profile">
    </div>

  <% end %>


</div>
