<div class="profile-header-banner dark-brand-gradient">

</div>

<div class="profile-content">


  <div class="profile-image-container">
    
    <%= image_tag @performer.image.url(:medium), class: "medium-profile-image"%>
  
  </div>
  <div class="profile-detail-container">

    <h1><%= @performer.name %></h1>

    <p><%= @performer.bio %></p>
    
    <p><%= @performer.city %>, <%= @performer.country %></p>

    <p class="social-media-row"><% if @performer.twitter_url.length > 0 %><%= link_to "Twitter", @performer.twitter_url %> |<%end%> <% if @performer.facebook_url.length > 0 %><%= link_to "Facebook", @performer.facebook_url %> |<%end%> <% if @performer.instagram_url.length > 0 %><%= link_to "Instagram", @performer.instagram_url %> |<%end%> <% if @performer.youtube_url.length > 0 %><%= link_to "Youtube", @performer.youtube_url %><%end%></p>

  </div>

  <div class="profile-section">

    <h2>Upcoming Shows</h2>

  </div>


  <div class="profile-section">

    <h2>Media</h2>

    <div class="centered">

      <% if @performer.video_url.length > 0 %>

          <iframe class="video-embed" src="<%= @performer.video_url %>" frameborder="0" allowfullscreen></iframe>

      <%end%>

    </div>
  

  </div>



  <div class="profile-section">

    <h2>Podcast</h2>

  </div>


</div>
