<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @performer.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @performer.bio %>
</p>

<p>
  <strong>Image</strong>
  <%= image_tag @performer.image.url(:medium), class: "medium-profile-image"%>
</p>

<p>
  <strong>City:</strong>
  <%= @performer.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @performer.country %>
</p>

<p>
  <strong>Twitter url:</strong>
  <%= @performer.twitter_url %>
</p>

<p>
  <strong>Facebook url:</strong>
  <%= @performer.facebook_url %>
</p>

<p>
  <strong>Instagram url:</strong>
  <%= @performer.instagram_url %>
</p>

<p>
  <strong>Youtube url:</strong>
  <%= @performer.youtube_url %>
</p>

<% if @performer.video_url %>

  <p>
    <strong>Video url:</strong>

    <iframe width="560" height="315" src="<%= @performer.video_url %>" frameborder="0" allowfullscreen></iframe>

  </p>

<%end%>

<%= link_to 'Edit', edit_performer_path(@performer) %> |
<%= link_to 'Back', performers_path %>
