<div class="profile-header-banner dark-brand-gradient">

</div>

<div class="profile-content">


  <div class="profile-image-container">
    
    <%= image_tag @performer.image.url(:medium), class: "medium-profile-image"%>
  
  </div>

  <div class="profile-detail-container">

    <h1><%= @performer.name %></h1>

    <p><%= @performer.bio %></p>
    
    <p><%= @performer.city %>, <%= @performer.country %></p>

    <p></p>

    <p class="social-media-row">
      <% if @performer.twitter_url %><%= link_to @performer.twitter_url do %> <%= image_tag "twitter_icon.PNG", class:"social-media-button" %><%end%><%end%> 

      <% if @performer.facebook_url %><%= link_to @performer.facebook_url do %> <%= image_tag "facebook_icon.png", class:"social-media-button" %><%end%><%end%> 

      <% if @performer.instagram_url %><%= link_to @performer.instagram_url do %><%= image_tag "instagram_icon.png", class:"social-media-button" %><%end%><%end%> 

      <% if @performer.youtube_url %><%= link_to @performer.youtube_url do %><%= image_tag "youtube_icon.PNG", class:"social-media-button" %><%end%><%end%>

      <% if @performer.snapchat_url %><% link_to @performer.snapchat_url do %><%= image_tag "snapchat_icon.png", class:"social-media-button" %><%end%><%end%>

    </p>

    <p>
    
      <a class="button blue-background">+ Follow</a>

      <a class="button orange-background"><span class="glyphicon glyphicon-envelope" style="margin-right: 15px;"></span>Message</a>

    </p>



  </div>


  <div class="centered">

    <% if @performer.video_url.length > 0 %>

        <iframe class="video-embed" src="<%= @performer.video_url %>" frameborder="0" allowfullscreen></iframe>

    <%end%>

  </div>


  <div class="profile-section">

    <h2>Upcoming Shows</h2>

  </div>

  
  <div class="profile-section">

    <h2>Media</h2>

    

  </div>



  <div class="profile-section">

    <h2>Podcast</h2>

  </div>


</div>
