<div class="content">

  <div class="centered">

    <%= image_tag @performer.image.url(:medium), class: "medium-profile-image"%>
    <h1><%= @performer.name %></h1>
    <h2><%= @performer.bio %></h2>
    <p><%= @performer.city %>, <%= @performer.country %></p>

    <p><% if @performer.twitter_url.length > 0 %><%= link_to "Twitter", @performer.twitter_url %> |<%end%> <% if @performer.facebook_url.length > 0 %><%= link_to "Facebook", @performer.facebook_url %> |<%end%> <% if @performer.instagram_url.length > 0 %><%= link_to "Instagram", @performer.instagram_url %> |<%end%> <% if @performer.youtube_url.length > 0 %><%= link_to "Youtube", @performer.youtube_url %><%end%></p>


  </div>

  <br><br>
  
  <div class="centered">

    <% if @performer.video_url %>

        <iframe width="560" height="315" src="<%= @performer.video_url %>" frameborder="0" allowfullscreen></iframe>

    <%end%>

  </div>

  <br><br>

  <div class="content-section">

    <h3 class="content-section-header">Upcoming Shows</h3>

    <h3 class="content-section-header">Media</h3>

    <h3 class="content-section-header">Credits</h3>

    <h3 class="content-section-header">Topics</h3>

  </div>

</div>
