<div class="modal-container default-off" id="main-menu">

	<span class="glyphicon glyphicon-remove dismiss-modal" aria-hidden="true"></span>

	<div class="menu-content default-off">
		
		<ul>
			<li class="centered">COMEDY<span style="color: #66dd66;">ZILLA</span></li>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Write a Review", show_dashboard_path %></li>
			<li><%= link_to "Community", community_path %></li>
			<li><%= link_to "Comedy Shows", show_dashboard_path %></li>
			<li><%= link_to "Login", login_path, class:"" %></li>
			<li><%= link_to "Signup", signup_path, class:"blue-background" %></li>
			

		</ul>

	</div>

</div>