<div class="form-container">

  <%= form_for(@show) do |f| %>
    <% if @show.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@show.errors.count, "error") %> prohibited this show from being saved:</h2>

        <ul>
        <% @show.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <label>Show Title</label><br>
      <%= f.text_field :name %>
    </div>

    <div class="field">

      <label>Preview Image</label>

      <div class="image-field-container">
        
        <h3>Click to Add Event Picture</h3>

        <%= f.file_field :image, class: "form-control" %>

      </div>

    </div>

    <div class="field">
      <%= f.label :schedule %><br>
      <%= f.schedule_select :schedule %>
    </div>

    <div class="field">
      <label>Category</label><br>
      <%= collection_select(:show, :category_1_id, Category.all, :id, :name, prompt: "Select a Category") %>
    </div>


    <%# f.fields_for :show_occurences do |builder| %>
      <%# render 'show_occurence_fields', f: builder %>
    <%# end %>

    <%# link_to_add_fields "Add Date", f, :show_occurences %>


    <div class="field">

      <% if current_user.is_admin %>

        <%= collection_select(:show, :venue_id, Venue.all, :id, :name, prompt: "Select a Venue") %><br>

      <%else%>

        <% if current_user.venues.count > 0 %>

          <%= collection_select(:show, :venue_id, current_user.venues.all, :id, :name, prompt: "Select a Venue") %><br>

        <%end%>

      <%end%>

      <%= f.label :venue_name %><br>
      <%= f.text_field :venue_name %><br>

      <%= f.label :address %><br>
      <%= f.text_field :address, class:"geocomplete-input" %><br>
   
    </div>

    
    <div class="field">
      <label>Event Website URL</label><br>
      <%= f.text_field :website_url %>
    </div>

    <div class="field">
      <label>Event Description</label><br>
      <%= f.text_area :about %>
    </div>


    <div class="actions">
      <input type="submit" class="button green-background" value="Create Show">
    </div>

  <% end %>

</div>
