<header class="section-title">Location</header>
	
<iframe class="embed-map material-shadow"
  
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD3SZ6eu9PyYDvE6jqAen9C8fHj8E4KWH8&q=<%= @show.address %>" allowfullscreen>
</iframe>

<br>
<br>

<% if @show.venue_id %>

	<p><b itemprop="name"><%= @show.venue.name %></b></p>

<%else%>
	
	<p><b itemprop="name"><%= @show.venue_name %></b></p>     

<%end%>

<p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
	
	<%= unless @show_occurrence.show.is_secret_show %>
		
		<span itemprop="streetAddress"><%= @show_occurrence.check_for_address %></span>
		
		<meta itemprop="addressLocality" content="<%= @show.address_locality %>">
		<meta itemprop="addressRegion" content="<%= @show.address_region %>">
		<meta itemprop="postalCode" content="<%= @show.address_postal_code %>">
		<meta itemprop="addressCountry" content="<%= @show.address_country %>">


	<%else%>

		Secret Show! Check out the <% link_to "Event Website", @show.website_url %> for the Location.

	<%end%>
		
</p>


