<h2>Location</h2>

<p><%= @show.venue_name %></p>

<p><%= @show.address_line_1 %></p>

<% if @show.address_line_2 %><p><%= @show.address_line_2 %></p><%end%>

<p><%= @show.city %>, <%= @show.state_province %></p>


