<header class="section-title">Location</header>

<% if @show.venue_id %>

	<p><%= @show.venue.name %></p>

	<p><%= @show.address %></p>

	<p><%= @show.venue.address_line_1 %></p>

	<% if @show.venue.address_line_2 %><p><%= @show.venue.address_line_2 %></p><%end%>

	<p><%= @show.venue.city %>, <%= @show.venue.state_province %></p>


<%else%>

	<p><%= @show.address %></p>

	<p><%= @show.address_line_1 %></p>

	<% if @show.address_line_2 %><p><%= @show.address_line_2 %></p><%end%>

	<p><%= @show.city %>, <%= @show.state_province %></p>


<%end%>


