<header class="section-title">Location</header>
	
<iframe class="embed-map material-shadow"
  
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD3SZ6eu9PyYDvE6jqAen9C8fHj8E4KWH8&q=<%= @show.address %>" allowfullscreen>
</iframe>

<br>
<br>

<% if @show.venue_id %>

	<p><b itemprop="name"><%= @show.venue.name %></b></p>

<%else%>
	
	<p><b itemprop="name"><%= @show.venue_name %></b></p>     

<%end%>

<p itemprop="address" itemscope itemtype="http://schema.org/Place">
		
	<span itemprop="streetAddress"><%= @show.address_street_address %> </span>
	<br> 
	<span itemprop="addressLocality"><%= @show.address_locality %></span>, 
	<span itemprop="addressRegion"><%= @show.address_region %></span>, 
	<span itemprop="postalCode"><%= @show.address_postal_code %></span>
	<br>
	<span itemprop="addressCountry"><%= @show.address_country %></span>
		
</p>


