<header class="section-title">Location</header>
	
<iframe class="embed-map material-shadow"
  
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD3SZ6eu9PyYDvE6jqAen9C8fHj8E4KWH8&q=<%= @show.address %>" allowfullscreen>
</iframe>

<br>
<br>

<% if @show.venue_id %>

	<p><b><%= @show.venue.name %></b></p>

	<p><%= @show.venue.address %></p>

<%else%>
	
	<p><b><%= @show.venue_name %></b></p>

	<p><%= @show.address %></p>

<%end%>


