
<% unless @review_index %>

  <%= link_to(show_with_url_path(show.url_slug)) do %>

    <div class="card">
      
      <div class="image-container">
        
        <%= image_tag show.image.url(:medium), class: "small-index-image"%>

      </div>

      <div class="detail-container">
        
        <ul class="thumb-holder"><li><span class="glyphicon glyphicon-thumbs-up thumb-cta material-shadow" aria-hidden="true"></span></li><li><span class="glyphicon glyphicon-thumbs-down thumb-cta material-shadow" aria-hidden="true"></span></li></ul>

        <p class="title"><%= show.name %></p>
        <br>
        <p><%= show.display_time %></p>
        <br>
        <p><span class="tag-content blue-background">Standup</span><span class="tag-content green-background">Open-Mic</span></p>

        

      </div>

    </div>

  <% end %>

<% else %>

    <div class="card">
      
      <div class="image-container">
        
        <%= image_tag show.image.url(:medium), class: "small-index-image"%>

      </div>

      <div class="detail-container">
        
        <p class="title"><%= show.name %></p>

        <p>Venue McGullicuddy</p>
        <p><div class="img-stars <%= show.css_rating_code %>"></div> <%= show.show_reviews.count.to_s + " " + "Review".pluralize(show.show_reviews.count) %></p>
        <p style="text-align:right;"><%= link_to "Start Your Review", new_review_path(show.id), class:"red-text" %></p>

      </div>

    </div>

<% end %>
