
<% unless @review_index %>

  <%= link_to(show_with_url_path(show.url_slug)) do %>

    <div class="card material-shadow">
      
      <div class="row padded-cols">
      
        <div class="col-xs-3 col-sm-12">
          <%= image_tag show.image.url(:medium), class: "small-index-image"%>
        </div>

        <div class="col-xs-9 col-sm-12">
          
          <p class="light"><%= show.user.first_name %> Presents</p>
          <span class="glyphicon glyphicon-star gold-star" aria-hidden="true"></span>
          <br>
          <p class="title"><%= show.name %></p>
          <br>
          <p><%= show.display_time %><span style="margin: 0px 5px;">&#8226;</span><%= show.display_date %></p>
          <br>
          <p><span class="tag-content">Standup</span><span class="tag-content">Open-Mic</span></p>
          
        </div>

      </div>

    </div>

  <% end %>

<% else %>

    <div class="card">
      
      <div class="image-container">
        
        <%= image_tag show.image.url(:medium), class: "small-index-image"%>

      </div>

      <div class="detail-container">
        
        <p class="title"><%= show.name %></p>

        <p>Venue McGullicuddy</p>
        <p><div class="img-stars <%= show.css_rating_code %>"></div> <%= show.show_reviews.count.to_s + " " + "Review".pluralize(show.show_reviews.count) %></p>
        <p style="text-align:right;"><%= link_to "Start Your Review", new_review_path(show.id), class:"red-text" %></p>

      </div>

    </div>

<% end %>
