
<% unless @review_index %>

  <%= link_to(show_with_url_path(show.url_slug)) do %>

    <div class="card">
      
      <div class="image-container">
        
        <%= image_tag show.image.url(:medium), class: "small-index-image"%>

      </div>

      <div class="detail-container">
        
        <p class="title"><%= show.name %><span class="price"><%= number_to_currency(show.price, precision: 2)  %></span></p>

        <p><div class="img-stars <%= show.css_rating_code %>"></div> <%= show.show_reviews.count.to_s + " " + "Review".pluralize(show.show_reviews.count) %></p>

        

        <p><b><%= show.display_date %> <%= show.display_time %></b></p>
        <p></b></p>

        <p><%# if show.venue_id %><%# show.venue.name %><%#else%><%# show.venue_name %><%#end%></p>

        

      </div>

    </div>

  <% end %>

<% else %>

    <div class="card">
      
      <div class="image-container">
        
        <%= image_tag show.image.url(:medium), class: "small-index-image"%>

      </div>

      <div class="detail-container">
        
        <p class="title"><%= show.name %></p>

        <p>Venue McGullicuddy</p>
        <p><div class="img-stars <%= show.css_rating_code %>"></div> <%= show.show_reviews.count.to_s + " " + "Review".pluralize(show.show_reviews.count) %></p>
        <p style="text-align:right;"><%= link_to "Start Your Review", new_review_path(show.id), class:"red-text" %></p>

      </div>

    </div>

<% end %>
