<div class="form-container">

  <%# form_for(@show_occurrence) do |f| %>
  <%= form_for @show_occurrence, url: update_show_occurrence_path(@show_occurrence), html: {multipart: true} do |f| %>

    
    <div class="field">
      
      <label>Show Occurrence Title</label><br>

      <% unless @show_occurrence.title %>

        <%= f.text_field :title, :value => @show.name %>

      <% else %>

        <%= f.text_field :title, :value => @show_occurrence.title %>

      <%end%>
      
    </div>

    <div class="field">

      <label>Image</label>
      <br>
      <%= image_tag @show_occurrence.check_for_image.url(:small), class: "small-image" %>

      <%= f.file_field :image %>

    </div>

    <div class="field">

      <label>Date/Time</label>

      <%# f.datetime_field :date %>

      <%# f.select_date :date %>

      <br>
      <%= datetime_select :show_occurrence, :date %>

      <%# time_select :show_occurrence, :date %>

    </div>

    <div class="field">

      <%= f.label :address %><br>
      <%= f.text_field :address, class:"geocomplete-input" %><br>

    </div>


    <div class="field">
      
      <label>Event Description</label><br>

      <% unless @show_occurrence.about %>

        <%= f.text_field :about, :value => @show.about %>

      <% else %>

        <%= f.text_field :about, :value => @show_occurrence.about %>

      <%end%>

    </div>

    <div class="field">
      <label>Video Preview (Youtube Only)</label><br>
      <%= f.text_field :video_url %>
    </div>

    <div class="field">
      <label>Video Preview Description</label><br>
      <%= f.text_field :video_description %>
    </div>

    <% if current_user.is_admin %>
      
      <div class="field">
        <label>Reason We Recommend</label><br>
        <%= f.text_field :reason_we_recommend %>
      </div>

    <%end%>

    <div class="field">

      <label>Update Other Dates?</label>

      <br>

      <% @show_occurrence.other_occurrences_soon.each do |occurrence| %>
                  
        <a class="add-tag-option toggle-active toggle-to-activate" data-activate-input="<%= occurrence.id %>"><%= occurrence.date.strftime("%A, %b %e, %Y %l:%M%P")  %></a>

        <input type="hidden" value="false" name="other_occurences_to_update[<%= occurrence.id %>]" id="<%= occurrence.id %>"></input>

      <% end %>


    </div>


    <div class="actions">
      <input type="submit" class="button green-background" value="Update Show Occurrence">
    </div>

  <% end %>

</div>
