<div itemscope itemtype="http://schema.org/ComedyEvent">

  <meta itemprop="url" content="<%= request.original_url %>">

  <div class="profile-header-banner sticky">

    <div class="profile-title-container">

      <div class="row">
        
        <div class="hidden-xs col-sm-2">

          <%= image_tag @show_occurrence.check_for_image.url(:medium), class: "", :itemprop => "image" %>
          
        </div>

        <div class="col-xs-12 col-sm-10">
          
          <h1 itemprop="name"><% unless @show_occurrence.title %><%= @show.name %><%else%><%= @show_occurrence.title %><%end%></h1>

          <%if user_signed_in?%><% if current_user.is_admin %><p><%= link_to "Edit", edit_a_show_occurrence_path(@show_occurrence.id) %></p><%end%><%end%>

          <!-- <a class="button full-screen-only yellow-background" href="<%# placeholder for ComedyHere Ticketing %>" style="float: right;" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            Buy Ticket for 
            <span itemprop="price" content="10.0000">$10</span>
            <meta itemprop="url" content="<%# placeholder for ComedyHere Ticketing %>">
          </a> -->

          <p class="show-detail" itemprop="startDate" content="<%= @show_occurrence.date %>"><span class="glyphicon glyphicon-calendar" aria-hidden="true" style="margin-right: 10px;"></span><%= @show_occurrence.date.strftime("%A, %b %e, %Y") %> <b><span style="margin-left: 10px;"><%= @show_occurrence.date.strftime("%l:%M%P") %></span></b></p>

          <meta itemprop="endDate" content="<%= @show_occurrence.date + 2.hours %>">

          <meta itemprop="eventStatus" content="EventScheduled">

          <% if @show.address_street_address %>
          
            <br>

            <p>

              <span class="glyphicon glyphicon-map-marker" aria-hidden="true" style="margin-right: 10px;"></span><span><%= @show.address_street_address %></span><span><%= link_to "(map)", "https://maps.google.com/?q=" + @show.address_street_address, target: :_blank %></span>

            </p>

          <%end%>

        </div>
    
      </div>

    </div>

  </div>

  <div class="profile-content">

    <div class="row">
        
        <div class="col-xs-12 col-sm-6 no-padding">

          <section class="profile-section">

            <header class="section-title">About the Show</header>

            <p itemprop="description"><%= @show.about %></p>

          </section>

          <% if @show_occurrence.check_for_recommendation %>

            <section class="profile-section">

              <header class="section-title">Why We Recommend this Show</header>

              <p><%= @show_occurrence.check_for_recommendation %></p>

            </section>

          <%end%>

          <% if @show_occurrence.check_for_video_preview %>

            <section class="profile-section">

              <header class="section-title">Video Preview</header>

              <iframe class="video-embed" src="<%= @show_occurrence.check_for_video_preview %>" frameborder="0" allowfullscreen></iframe>

              <p><%= @show_occurrence.video_description %></p>

            </section>

          <%end%>


          <% if @performers %>
            
            <section class="profile-section">

              <header class="section-title">Performers</header>

              <div class="row">
          
                <div class="col-xs-12 col-sm-3 no-padding">
                  img
                </div>

                <div class="col-xs-12 col-sm-9 no-padding">
                  Name
                </div>

              </div>

            </section>

          <%end%>


          <% if @show.address %>

            <section class="profile-section" itemprop="location" itemscope itemtype="http://schema.org/EventVenue">

              <%= render :partial => 'shows/full_address', :locals => {:show => @show} %>

            </section>

          <%end%>

          <% if @show.venue_id %>

            <% if @show.venue.about %>

              <section class="profile-section">

                <header class="section-title">About the Venue</header>

                <p><b><%= @show.venue.name %></b></p>

                <p><%= @show.venue.about %></p>

                <br>
                
                <% if @show.venue %>
                    
                    <% if @show.venue.url_slug %>
                      
                      <p><%= link_to "See Venue Page", venue_with_url_path(@show.venue.url_slug), class:"blue-text" %></p>
                      
                    <%end%>

                <%end%>

              </section>

            <%end%>
            
          <%end%>

        </div>

        <div class="col-xs-12 col-sm-6 no-padding">
          
          <% if @show.schedule %>

            <% if @show.remaining_show_occurrences.count > 1 %>

              <section class="profile-section">

                <header class="section-title">Schedule</header>

                <p><i><%= @show.schedule %></i></p>

                <br>

                <% if @show.schedule.occurrences(Time.now + 1.month).count > 0 %>
                  
                  <p><b>Upcoming Dates:</b><p>

                  <% @show.schedule.occurrences(Time.now + 1.month).each do |occurence| %>

                    <p><%= occurence.strftime("%a, %b %e") %></p>

                  <%end%>

                <%end%>

              </section>

            <%end%>

          <%end%>

          <% if @producer_active %> <!-- Change this later -->

            <section class="profile-section">

              <header class="section-title">About the Producer</header>

              <p><%= @show.user.first_name %></p>

              <a href="<%= user_profile_path(@show.user.first_name) %>"><%= @show.user.first_name + " Profile" %><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>

            </section>

          <%end%>

          <section class="profile-section centered">

            <header class="section-title">Have You Seen this Show?</header>

            <div class="show-vote-ctas-container centered">
              
              <span class="button green-background vote" data-show-id="<%= @show.id%>" data-vote-direction="up"><span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span> It's Funny</span>

              <span class="button red-background vote" data-show-id="<%= @show.id%>" data-vote-direction="down"><span class="glyphicon glyphicon-hand-down" aria-hidden="true"></span> Needs Work</span>

            </div>

          </section>

          <% if @show.show_reviews.count > 0 %>

            <section class="profile-section">

              <header class="section-title">Reviews</header>
                
                <% if @show.show_reviews.count > 0 %>
                  
                  <% @show.show_reviews.all.each do |review| %>

                    <div class="row">
              
                      <div class="col-xs-3">
                        
                        <%= image_tag review.user.image.url(:small), class: "reviewer-small-image" %><br>

                        <%= review.user.first_name + " " + review.user.last_name.first(1) + "."   %><br>
                        
                        <%= Market.find(review.user.default_market_id).name %>

                      </div>


                      <div class="col-xs-9">

                        <div class="img-stars <%= review.css_rating_code %>"></div><br>
                          
                          <i>"<%= review.body %>"</i>

                      </div>

                    </div>

                  <%end%>

                <%end%>

            </section>

          <%end%>

        </div>

    </div>

  </div>

  <%# render :partial => 'layouts/corner_add_cta', :locals => {:target_url => root_path, :cta_text => "Buy Tickets for " + @show.name.to_s} %>

</div>

