
<%= render :partial => 'pages/dashboard_header', :locals => {:location => session[:city]} %>

<div class="dashboard">

	<%= render :partial => 'pages/mobile_front_page_tags', :locals => {:location => session[:city]} %>

	<div class="row">

		<div class="hidden-xs col-sm-4 col-md-3">

			<%= render :partial => 'pages/front_page_tags', :locals => {:location => session[:city]} %>

			<% unless user_signed_in? %>
				
				<br>

				<%= render :partial => 'pages/home_signup_cta', :locals => {:mobile_only => false} %>

			<%end%>

		</div>

		<div class="col-xs-12 col-sm-8 col-md-9">

			<section class="home-index">

					<header class="home-section-header">Tonight (<%= Time.current.strftime("%A, %b %e") %>)</header>
					
					<div class="row">
						
						<% @show_tag.nearby_show_occurrences(session[:latitude], session[:longitude], Time.current.beginning_of_day + 6.hours, Time.current.end_of_day + 6.hours).each do |show_occurrence| %>

							<div class="col-xs-12">
					  			
					  			<%= render :partial => 'shows/index_show', :locals => {:show_occurrence => show_occurrence, :show =>  show_occurrence.show} %>

					  		</div>

						<%end%>


						<div class="col-xs-12">
							
							<%= link_to root_path do %>

								<div class="card see-more">
									See 2 More Shows
									<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
								</div>
							
							<%end%>

				        </div>

					</div>

				</section>

			<%(Date.tomorrow..Date.tomorrow + 7).each do |date| %>

				<section class="home-index">

					<header class="home-section-header"><%= date.strftime("%A, %b %e")%></header>
					
					<div class="row">

						<% @show_tag.nearby_show_occurrences(session[:latitude], session[:longitude], date.beginning_of_day + 6.hours, date.end_of_day + 6.hours).each do |show_occurrence| %>

							<div class="col-xs-12">
					  			
					  			<%= render :partial => 'shows/index_show', :locals => {:show_occurrence => show_occurrence, :show =>  show_occurrence.show} %>

					  		</div>

						<%end%>

						<div class="col-xs-12">
							
							<%= link_to root_path do %>

								<div class="card see-more">
									See 5 More Shows
									<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
								</div>
							
							<%end%>

			        	</div>

					</div>

				</section>


			<% end %>

		</div>

	</div>

</div>

<%= render 'layouts/corner_add_cta' %>

