<div class="profile-header-banner dark-brand-gradient">

</div>

<div class="profile-content">


  <div class="profile-image-container">
    
    <%= image_tag @show.image.url(:medium), class: "medium-profile-image"%>
  
  </div>

  <div class="profile-detail-container">

    <h1><%= @show.name %></h1>

    <p><%= @show.start_time.strftime("%A, %b %e, %Y") %></p>

    <br>

    <a class="button green-background">Buy Tickets</a><% if @show.website_url %><%= link_to @show.website_url do %><a class="button blue-background" href="<%= @show.website_url %>">Website</a><%end%><%end%>

  </div>

  <div class="profile-section">

    <h2>About the Show</h2>

    <p><%= @show.about %></p>

  </div>


  <div class="profile-section">

    <h2>Featured Comics</h2>



    <div class="image-grid">

      <% Performer.all.each do |performer| %>

        <%= link_to performer do %>
          
          <div class="entry">

            <div class="image-container">
              <%= image_tag performer.image.url(:medium) %>
    
            </div>

            <div class="detail-container centered">

              <a class="metadata name"><%= performer.name %></a>

            </div>


          </div>

        <%end%>

      <%end%>

    </div>

   



  </div>

  <div class="profile-section">

    <h2>More Dates</h2>

    <% if @show.show_occurences.count > 0 %>

      <% @show.show_occurences.each do |occurence| %>

        <%= occurence.id %>

      <%end%>

    <%end%>

  </div>





</div>
