<div class="profile-header-banner sticky">

  <div class="profile-title-container">

    <div class="row">
      
      <div class="col-xs-3 col-sm-2">
        <%= image_tag @show.image.url(:medium), class: ""%>
      </div>

      <div class="col-xs-9 col-sm-10">
        
        <h1><%= @show.name %></h1>

        <p><%= @show.start_time.strftime("%A, %b %e, %Y") %></p>

        <p><a class="button orange-background" href="<%= root_path %>">Buy Ticket for $10</a></p>

      </div>
  
    </div>

  </div>

</div>

<div class="profile-content">

  <div class="row">
      
      <div class="col-xs-12 col-sm-6 no-padding">

        <section class="profile-section">

          <header class="section-title">About the Show</header>

          <p><%= @show.about %></p>

        </section>

        <section class="profile-section">

          <%= render :partial => 'shows/full_address', :locals => {:show => @show} %>

        </section>

        <section class="profile-section">

          <header class="section-title">Schedule</header>

          <p><%= @show.schedule %></p>

          <br>

          <% if @show.schedule.occurrences.count > 0 %>
            
            <p><b>Upcoming Dates:</b><p>
              
            <% @show.schedule.occurrences(Time.now + 1.month).each do |occurence| %>

              <p><%= occurence.strftime("%a, %b %e") %></p>

            <%end%>

          <%end%>

        </section>

      </div>

      <div class="col-xs-12 col-sm-6 no-padding">

        


        <section class="profile-section">

          <header class="section-title">About the Producer</header>

          <p><%= @show.user.first_name %></p>

          <a href="<%= user_profile_path(@show.user.first_name) %>"><%= @show.user.first_name + " Profile" %><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>

        </section>


        <section class="profile-section">

          <header class="section-title">Reviews</header>
            
            <% if @show.show_reviews.count > 0 %>
              
              <% @show.show_reviews.all.each do |review| %>

                <div class="row">
          
                  <div class="col-xs-3">
                    
                    <%= image_tag review.user.image.url(:small), class: "reviewer-small-image" %><br>

                    <%= review.user.first_name + " " + review.user.last_name.first(1) + "."   %><br>
                    
                    <%= Market.find(review.user.default_market_id).name %>

                  </div>


                  <div class="col-xs-9">

                    <div class="img-stars <%= review.css_rating_code %>"></div><br>
                      
                      <i>"<%= review.body %>"</i>

                  </div>

                </div>

              <%end%>

            <%end%>

        </section>

        <% if @show.venue_id %>

          <section class="profile-section">

            <header class="section-title">About the Venue</header>

            <p><%= @show.venue.about %></p>

            <br>
            
            <p><a class="blue-text" href="<%= @show.venue.website_url %>">Website <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a></p>

          </section>

        <%end%>

      </div>

  </div>

</div>
