<div class="profile-header-banner dark-brand-gradient">

</div>

<div class="profile-content">


  <div class="profile-image-container">
    
    <%= image_tag @show.image.url(:medium), class: "medium-profile-image"%>
  
  </div>

  <div class="profile-detail-container">

    <h1><%= @show.name %></h1>

    <p><%= @show.about %></p>

    <br>

    <p><%= @show.start_time.strftime("%A, %b %e, %Y") %></p>

    <br>

    <a class="button green-background">Buy Tickets</a><% if @show.website_url %><a class="button blue-background" href="<%= @show.website_url %>">Website</a><%end%>

  </div>

  <div class="profile-section">

    <h2>Featured Comics</h2>

  </div>

  <div class="profile-section">

    <h2>More Dates</h2>

    <% if @show.show_occurences.count > 0 %>

      <% @show.show_occurences.each do |occurence| %>

        <%= occurence.id %>

      <%end%>

    <%end%>

  </div>





</div>
