<div class="profile-header-banner dark-brand-gradient">

</div>

<div class="profile-content">

  <div class="profile-title-container">

    <div class="profile-image-container">
      
      <%= image_tag @show.image.url(:medium), class: "medium-profile-image"%>
    
    </div>

    <div class="profile-detail-container">

      <h1><%= @show.name %></h1>

      <p><%= @show.display_date %><% if user_signed_in? %><% if @show.user_id == current_user.id %><a class="button">Add Dates</a><%end%><%end%></p>

      <div class="button-container">
        <a class="button green-background">Buy Tickets</a>
      </div>

      <% if @show.website_url %>
        
        <div class="button-container">
            
          <a class="button blue-background" href="<%= @show.website_url %>">Website</a>

        </div>
        
      <%end%>

    </div>

  </div>

  <div class="profile-body-container">

    <div class="profile-body-main">

      <div class="profile-section">

        <h2>About the Show</h2>

        <p><%= @show.about %></p>

      </div>

      <div class="profile-section">

        <h2>Featured Comics</h2>

        <div class="image-grid">

          <% Performer.all.each do |performer| %>

            <%= link_to performer do %>
              
              <div class="entry">

                <div class="image-container">
                  <%= image_tag performer.image.url(:medium), class:"medium round" %>
        
                </div>

                <div class="detail-container centered">

                  <a class="metadata name"><%= performer.name %></a>

                </div>


              </div>

            <%end%>

          <%end%>

        </div>

      </div>


      <div class="profile-section">

        <h2>About the Producer</h2>

        <p>Producer producer</p>

      </div>

    </div>


    <div class="profile-body-side">

      <div class="profile-body-side-content">

        <div class="profile-section">
        
          <%= render :partial => 'shows/date_and_time', :locals => {:show => @show} %>

        </div>

        <div class="profile-section">

          <%= render :partial => 'shows/full_address', :locals => {:show => @show} %>

        </div>

        <div class="profile-section">

          <%= render :partial => 'shows/more_dates', :locals => {:show => @show} %>

        </div>

      </div>
  
    </div>

  </div>









</div>
