<div class="profile-header-banner dark-brand-gradient sticky">

  <div class="profile-title-container">

    <div class="profile-image-container">
      
      <%= image_tag @show.image.url(:medium), class: ""%>
    
    </div>

    <div class="profile-detail-container">

      <h1><%= @show.name %></h1>

      <p><%= @show.start_time.strftime("%A, %b %e, %Y") %><% if user_signed_in? %><% if @show.user_id == current_user.id %><br><a class="button">Add Dates</a><%end%><%end%></p>

      <a class="button green-background">Buy Tickets</a><!-- <%# if @show.website_url %><%# link_to @show.website_url do %><a class="button blue-background" href="<%# @show.website_url %>">Website</a><%#end%><%#end%> -->

    </div>

  </div>

</div>

<div class="profile-content">

  <div class="row">
      
      <div class="col-xs-12 col-sm-6">

        <section class="profile-section material-shadow white-background">

          <header class="section-title">About the Show</header>

          <p><%= @show.about %></p>

        </section>

        <section class="profile-section material-shadow white-background">

          <%= render :partial => 'shows/full_address', :locals => {:show => @show} %>

        </section>


      </div>

      <div class="col-xs-12 col-sm-6">

        <section class="profile-section material-shadow">

          <header class="section-title">Reviews</header>
            
            <% if @show.show_reviews.count > 0 %>
              
              <table class="review-index">
              
                <% @show.show_reviews.all.each do |review| %>
                  <tr>
                    <td style="width: 150px;">
                      <%= image_tag review.user.image.url(:small), class: "reviewer-small-image" %><br>
                      <%= review.user.first_name + " " + review.user.last_name.first(1) + "."   %><br>
                      <%= Market.find(review.user.default_market_id).name %>
                    </td>
                    <td>
                      <div class="img-stars <%= review.css_rating_code %>"></div><br>
                      <i>"<%= review.body %>"</i>
                    </td>

                  </tr>

                <%end%>
                
              </table>

            <%else%>

              No Reviews Yet. Be the first to <%= link_to "post a review", new_review_path(@show.id), class:"blue-text" %>.

            <%end%>

        </section>

        <% if @show.venue_id %>

          <section class="profile-section material-shadow white-background">

            <header class="section-title">About the Venue</header>

            <p><%= @show.venue.about %></p>

            <br>
            
            <p><a class="blue-text" href="<%= @show.venue.website_url %>">Website <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a></p>

          </section>

        <%end%>

      </div>

  </div>

</div>
