<footer class="footer-container">

	<div class="footer-content">

		<div class="row">

			<div class="col-xs-12 col-sm-4">
				
				<% unless user_signed_in? %>

					<section class="footer-section">

						<header class="footer-header">SIGNUP</header>

						<ul>

							<li><%= link_to "I'm a Comic", comic_signup_path %></li>
							<li><%= link_to "I'm a Producer", producer_signup_path %></li>
							<li><%= link_to "I'm a Venue", venue_signup_path %></li>

						</ul>

					</section>

				<%end%>

			</div>

			<div class="col-xs-12 col-sm-4">

				<section class="footer-section">

					<header class="footer-header">Markets</header>

					<ul>
					
						<% Market.all.each do |market| %>

							<li><%= link_to market.name + " Comedy Shows", search_path(market.short_name) %></li>

						<%end%>

					</ul>

				</section>

			</div>

			<div class="col-xs-12 col-sm-4">
				
				<section class="footer-section">

					<header class="footer-header">SOCIAL MEDIA</header>

					<ul>

						<li><a href="https://twitter.com/_servmanity">Twitter</a></li>

						<li><a href="https://www.facebook.com/servmanity/">Facebook</a></li>

						<li><a href="https://www.instagram.com/servmanity/">Instagram</a></li>

					</ul>

				</section>

			</div>

		</div>

	</div>

	<br><br><br>
	
	<div class="centered">Copyright <%= Time.now.strftime("%Y") %> COMEDY HERE, LLC. All Right Reserved.</div>

</footer>
