<nav class="header-container">

	<div class="header-content">

		

		<div class="header-options left">

			<ul class="horizontal">
				
				<li><a class="logo full-screen-only" href="<%= root_path %>">COMEDY<span style="color: #66dd66;">ZILLA</span></a><a class="logo modal-cta mobile-only" data-modal-id="main-menu"><button class="hamburger">&#9776;</button></span>C<span style="color: #66dd66;">Z</span></a></li>

				<li><%= link_to "Write a Review", show_dashboard_path, class:"full-screen-only" %></li>

				<li><%= link_to "Comedy Shows", show_dashboard_path, class:"full-screen-only" %></li>

				<!-- <li><%# link_to "Venues", venues_path, class:"full-screen-only" %></li>

				<li><%# link_to "Comics", performers_path, class:"full-screen-only" %></li> -->

			</ul>

		</div>


		<div class="header-options right">

			<ul class="horizontal full-screen-only">

				<% if user_signed_in? %>

					<li><%= link_to "Account", account_path %></li><li><a class="clickable modal-cta" data-modal-id="select-city"><% if @market %><%= @market["name"] %><%else%>SELECT A CITY<%end%><span class="glyphicon glyphicon-map-marker" style="margin-left: 10px;"></span></a></li>

				<%else%>
					
					<li><%= link_to "Log In", login_path %></li><li><%= link_to "Sign Up", signup_path, class:"cta" %></li><li><a class="clickable modal-cta" data-modal-id="select-city"><% if @market %><%= @market["name"] %><%else%>SELECT A CITY<%end%><span class="glyphicon glyphicon-map-marker" style="margin-left: 10px;"></span></a></li>

				<%end%>



			</ul>

			<ul class="horizontal mobile-only">

				<% if user_signed_in? %>

					<li><a href="<%= new_show_path%>"><span class="glyphicon glyphicon-plus"></span></a></li>

					<li><a href="<%= account_path%>"><span class="glyphicon glyphicon-cog"></span></a></li>

				<%else%>

					<li><%= link_to "Sign Up", signup_path, class:"cta" %></li>

				<%end%>

				<li><a class="clickable modal-cta" data-modal-id="select-city"><% if @market %><%= @market["short_name"] %><%else%>SELECT A CITY<%end%><span class="glyphicon glyphicon-map-marker" data-modal-id="select-city"></span></a></li>

			</ul>


		</div>

	</div>

</nav>
