<nav class="header-container">

	<div class="header-content">

		<div class="header-options left">

			<ul class="horizontal">

				<span class="mobile-only">
				
					<li>

						<% unless @nav_return %>

							<a class="logo" href="<%= root_path %>"><span>ComedyHere</span></a>

							
							<!-- <a class="cheeseburger-container"><span class="cheeseburger modal-cta" data-modal-id="main-menu"></span></a> -->

						<%else%>

							<a href="<%= root_path %>"><span class="glyphicon glyphicon-arrow-left" style="margin-right: 10px;" aria-hidden="true"></span><%= @nav_return_title %></a>

						<%end%>

						
							
					</li>

				</span>

				<span class="full-screen-only">
					
					<li>

						<a class="logo" href="<%= root_path %>"><span>C</span></a>

					</li>

					<li>

						<a class="full-logo"><span>ComedyHere</span><br><span>All the Best Comedy shows</span></a>

					</li>

				</span>

			</ul>

		</div>


		<div class="header-options right">

			<ul class="horizontal">

				<span class="full-screen-only">
				
					<% if user_signed_in? %>

						<li><a href="<%= account_path%>" class="header-image"><%= image_tag current_user.image.url(:small), class: "header-profile-image" %></a></li><%end%><li><a href="<%= search_path %>"><span class="glyphicon glyphicon-search" aria-hidden="true" style="margin-left: 5px;"></span></a></li><li><a class="modal-cta" data-modal-id="select-city"><% if session[:city] && !session[:city].blank? %><%= session[:city] %><%else%>Select a City<%end%><span class="glyphicon glyphicon-map-marker" aria-hidden="true" style="margin-left: 5px;"></span></a></li>

				</span>

				<span class="mobile-only">

					<% if user_signed_in? %>

						<li><a href="<%= account_path%>" class="header-image"><%= image_tag current_user.image.url(:small), class: "header-profile-image" %></a></li><%end%><li><a href="<%= search_path %>"><span class="glyphicon glyphicon-search" aria-hidden="true" style="margin-left: 5px;"></span></a></li><li><a class="modal-cta" data-modal-id="select-city"><% if session[:city] && !session[:city].blank? %><%= session[:city] %><%else%>Select a City<%end%><span class="glyphicon glyphicon-map-marker" aria-hidden="true" style="margin-left: 5px;"></span></a></li>
					

				</span>


			</ul>

		</div>

	</div>

</nav>
