<div class="header-container">

	<div class="header-options left">

		<ul class="horizontal">

			<li><a class="logo" href="<%= root_path %>"><span style="color: #EEE84C;">COMICS</span></a></li>

			<li><%= link_to "Shows", root_path, class:"full-screen-only" %></li>

			<li><%= link_to "Venues", venues_path, class:"full-screen-only" %></li>

			<li><%= link_to "Comics", performers_path, class:"full-screen-only" %></li>

		</ul>

	</div>


	<div class="header-options right">

		<button class="hamburger mobile-only">&#9776;</button>

		<ul class="horizontal full-screen-only">

			<% if user_signed_in? %>

				<li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>

			<%else%>

				<li><%= link_to "Log In", new_user_session_path %></li>

				<li><%= link_to "Sign Up", new_user_registration_path %></li>

			<%end%>



		</ul>


	</div>




</div>
