<nav class="header-container">

	<div class="header-content">

		<div class="header-options left">

			<ul class="horizontal">

				<li>
					<% unless @nav_return %>

						<span class="mobile-only"><span class="cheeseburger modal-cta" data-modal-id="main-menu"></span><a class="logo" href="<%= root_path %>">CZ</a></span>

						<span class="full-screen-only"><a class="logo" href="<%= root_path %>">COMEDYZILLA</a></span>

					<%else%>

						<a href="<%= root_path %>"><span class="glyphicon glyphicon-arrow-left" style="margin-right: 10px;" aria-hidden="true"></span><%= @nav_return_title %></a>

					<%end%>
				</li>

				<li><%= link_to "Write a Review", index_for_review_path, class:"full-screen-only" %></li>

				<li><%= link_to "Comedy Shows", show_dashboard_path(@market["short_name"]), class:"full-screen-only" %></li>

				<!-- <li><%# link_to "Venues", venues_path, class:"full-screen-only" %></li>

				<li><%# link_to "Comics", performers_path, class:"full-screen-only" %></li> -->

			</ul>

		</div>


		<div class="header-options right">

			<ul class="horizontal full-screen-only">

				<% if user_signed_in? %>

					<li><a href="<%= account_path%>" class="header-image"><%= image_tag current_user.image.url(:small), class: "header-profile-image" %></a></li><li><a class="clickable modal-cta" data-modal-id="select-city"><% if @market %><%= @market["name"] %><%else%>SELECT A CITY<%end%><span class="glyphicon glyphicon-map-marker" style="margin-left: 10px;"></span></a></li>

				<%else%>
					
					<li><%= link_to "Log In", login_path %></li><li><%= link_to "Sign Up", signup_path, class:"cta" %></li><li><a class="clickable modal-cta" data-modal-id="select-city"><% if @market %><%= @market["name"] %><%else%>SELECT A CITY<%end%><span class="glyphicon glyphicon-map-marker" style="margin-left: 10px;"></span></a></li>

				<%end%>



			</ul>

			<ul class="horizontal mobile-only">

				<% if user_signed_in? %>

					<li><a href="<%= new_show_path%>"><span class="glyphicon glyphicon-plus"></span></a></li>

					<li><a href="<%= account_path%>" class="header-image"><%= image_tag current_user.image.url(:small), class: "header-profile-image" %></a></li>

				<%else%>

					<li><%= link_to "Sign Up", signup_path, class:"cta" %></li>

				<%end%>

				<li><a class="clickable modal-cta" data-modal-id="select-city"><% if @market %><%= @market["short_name"] %><%else%>SELECT A CITY<%end%><span class="glyphicon glyphicon-map-marker" data-modal-id="select-city"></span></a></li>

			</ul>


		</div>

	</div>

</nav>
