<!DOCTYPE html>
<html>

	<head>

		<title><% if @main_SEO_title %><%= @main_SEO_title %> | <%end%>ComedyHere</title>

		<meta name="description" content="<% if @SEO_description%><%= @SEO_description %> <%else%>All Local Comedy Shows<%end%>">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<meta name="theme-color" content="#000000">

		<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

		<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

		<link rel="stylesheet" href="/resources/demos/style.css">

		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		
		<link rel="icon" href="/favicon.ico" type="image/x-icon">


		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  		
  		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhzf2HMk2q6tM-y-ICTesCzKXwSZHq47A&libraries=places" type="text/javascript"></script>
		
		<script src="jquery.geocomplete.js"></script>

		

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>

		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

	</head>

	<body data-last-scroll="0">

		<% unless @hide_header %>
			<%= render 'layouts/header' %>
			<%= render 'modals/main_menu' %>
		<%end%>

		<div class="content-container <% if @whitebackground %>all-white-background<% end %> <% if @darkbluebackground %>dark-blue-background<% end %>">

			<% flash.each do |name, msg| %>
     			<%# content_tag(:div, msg, class: "alert alert-#{name}") %>
			<% end %>

			<%= yield %>
		
		</div>

		<%= render 'modals/select_city' %>

		<%= render 'layouts/corner_add_cta' %>

		<% unless @hide_footer %>
			<%= render 'layouts/footer' %>
		<%end%>

	</body>

</html>
